*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #F0A83E;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header img{
    width: 180px;
    margin: 20px 10px 20px 30px;
    display: flex
}
.logohead{
    justify-content: flex-start;
    width: 6rem;
    font-size: 20px;
    display: flex ;
}
.logohead h3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.logohead img{
    display: flex;
    width: 40px;
}
.fronthead{
    display: inline-flex;
    color:#3C2313;
}
.cathead{
    color:white;
    display: inline-flex;
}
nav{
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
}
nav :hover{
    color: #3C2313;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 8px;
}
nav i{
    margin: 3px;
}
.hamb{
    color: white;
    font-size: 25px;
    display:none
}
@media(max-width:769px){
    header{
        width: 100%;
        position: relative;
        display:inline-block;
        justify-content: center;
    }
    .logohead{
        justify-content: center;
        margin: auto;
        align-items: center;
    }
    nav{
        flex-wrap: wrap;
        display: none;
    }
    }
    .hamb{
        display: flex;
        position: relative;

    }
.banner{
    background-image: url(img/Plato\ Comida.png);
    background-size:cover; 
    background-repeat: no-repeat;
    text-align: right;
    margin: 0 auto;
    height: 300px;
}
.placer{
    border: solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    display:inline-flex;
    margin: 70px 20px 30px;
}
.TextBaner{
    margin: 0px 80px;
}
.comederos{
    border: #F0A83E;
    border-radius: 10px;
    margin: 30px 120px;
    background-color: #F0A83E;
    color: white;
    padding: 10px;
}
.comederos :hover{
    color: #3C2313;
}
@media(max-width:769px){
    .banner{
    position: relative;
    justify-content: center;
    text-align: center;
    }
}
.destacados{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.pata{
    color: #F0A83E;
    font-size: 40px;
}
.nav2{
    text-align: center;
    margin-bottom: 20px;
}
.nav2 a{
    text-decoration: none;
    color: #666666;
}
.productos{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    gap: 2rem;
}
@media(max-width:769px){
    .productos{
    display: block;
    justify-content: center;}
}
.orange{
    color: #F0A83E;
    font-weight: bold;
    margin-top: 1px;
}
.productos img{
    width: 250px;
    margin: 0 auto;
}
.contactanos{
    color: #3C2313;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:40px;
}
.cajaname{
    position: relative;
}
h4{
    display:block;
    border-radius: 20px;
    color: white;
    background-color: #3C2313;
    padding: 10px;
    width: 50%;
    margin: 0% auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
}
.botones{
    display: flex;
    width: 300px;
    text-align: center;
    margin: 0% auto;
    gap: 30px;
    margin-top: 30px;
}
.reset{
    display: inline-block;
    background-color: #8A8787;
    border-radius: 10px;
    padding: 10px;
    color: white;
    width:50rem ;
}
.send{
    display: inline-block;
    background-color:#F0A83E;
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 50rem;
}
.sub{
    position: relative;
    font-size: 1rem;
    width: 100%;
    display: flex block;
    color: white;
    background-color: #F0A83E;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
}

h3{
    display:inline-flex;
    padding-left: 10px;
}
.iconmsn{
    font-size: 1.8rem;
    display: inline-flex;
    align-items: center;
}
.correo{
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 15px;
}
h5{
    
    display: inline-block;
    color: #A0A0A0;
    border-radius: 3px;
    background-color: white;
    padding: 10px 90px 10px 5px;
}
.Subboton{
    display: inline-block;
    background-color: #3C2313;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
    @media(max-width:769px){
        .sub{
        text-align: center;
        display: block;
        }
        
        h3{
        display: block;
        position: relative;
        margin-bottom: 30px;

        }
        .iconmsn{
        display: block;

        }
        .correo{
        display: inline-flex;
        position: relative;
        width: 70%;
        justify-content: space-around;
        }
        h5{
            position: relative;
            display: block;
            text-align: justify;
            
        }
        .Subboton{
            display: block;
            width:70;
        }
}
.info1{
    width: 100%;
    background-color: #3C2313;
    display: block;
    position: relative;
}
.info{
    display:inline block;
    font-size: 30px;
}
.icon{
    display: inline-block;
    color: white;
    font-size: 50px;
    margin: 15px;
}
.infofull{
    display: inline-block;
    padding: 10px;
}
.white{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.grey{
    display:block;
    color: #8A8787;
    font-size: 15px;
}
.logo{
    font-size: 20px;
    display: inline block;
    position: absolute;
    top: 50%;
    right: 10px;
}
.logo img{
    display: inline-block;
    width: 30px;
}
.front{
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.cat{
    color: #F0A83E;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem
}
    @media(max-width:769px){
        .info1{
            text-align: center;
            display: block;
            align-items: flex-end;
            flex-wrap: wrap;
            position: absolute;
        }
        .info{
            display: block;
        }
        .logo{
            flex-direction: column;
            display:inline-block;
            width: 100%;
            position: relative;
        }
        .logo img{
            display:;
            position: relative;
        }
        .logo h3{
            position: relative;
            display: inline-block;
        }
}